attrs==22.1.0
click==7.1.2
contourpy==1.2.1
coverage==7.0.0
cycler==0.12.1
cysignals==1.11.2
Cython==0.29.32
exceptiongroup==1.0.4
flake8==6.0.0
fonttools==4.50.0
iniconfig==1.1.1
kiwisolver==1.4.5
matplotlib==3.8.3
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
-e git+https://github.com/Jaswar/QCC-Project.git@c6d3c9db89b6ae2fefb2fa932c6c97b07955284f#egg=netqasm&subdirectory=libs/netqasm
netsquid==0.10.4
netsquid-magic==4.0.2
netsquid-physlayer==0.1.8
numpy==1.23.5
packaging==22.0
pandas==1.5.2
pillow==10.3.0
pluggy==1.0.0
pycodestyle==2.10.0
pydynaa==0.3.6
pyflakes==3.0.1
pyparsing==3.1.2
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.7
PyYAML==5.4.1
qlink-interface==0.1.0
scipy==1.9.3
six==1.16.0
-e git+https://github.com/Jaswar/QCC-Project.git@c6d3c9db89b6ae2fefb2fa932c6c97b07955284f#egg=squidasm&subdirectory=libs/squidasm
tomli==2.0.1
typing_extensions==4.4.0
